{% if login == True %}
<form method="POST" action="{{ url_for('login') }}">
    {% else %}
    <form method="POST" action="{{ url_for('register') }}">
{% endif %}
    <div class="field column is-half is-offset-one-quarter" id="email-input-login">
      <!--username input-->
      <label class="label" for="username">Username</label>
      <p class="control has-icons-left has-icons-right">
        <input class="input" id="username" name="username" type="text" placeholder="Username">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <!--password input-->
    <div class="field column is-half is-offset-one-quarter">
      <label class="label" for="password"> Password</label>
      <p class="control has-icons-left">
        <input class="input" id="password" name="password" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <!--submit button-->
    
    <div class="field column is-offset-6">
      <p class="control">
        <button class="button is-success" type="submit">
          {% if register == True %} Register now {% else %} Sign In {% endif %}</button>
      </p>
    </div>
    <!--Navigation-->
    <div class="column is-half is-offset-5 is-centered">
      {% if register == True %}
          <h4>Do you already have an account?</h4>
      {% else %}
          <h4> You don't have an account yet?</h4>
      {% endif %}
    <div class="column is-half">
      {% if register == True %}
      <a href="{{ url_for('sign_in') }}" class="form-buttons">Click here to Login</a>
      {% else %}
      <a href="{{ url_for('register') }}" class="form-buttons">Click here to Sign Up</a>
      {% endif %}
    </div>
    <div class="column is-half">
      <a href="{{ url_for('home') }}" class="form-buttons">Go back to the home page</a>
    </div>  
  </div>
    
</form>