{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/basic-navigation.html' %}
<div class='container is-fluid' id='hero-image'>
    <h1>Yarn Barn</h1>

    <div class="container " id="welcome-text">
        <p>Welcome to Yarn Barn where you can find genuine reviews of yarns to help you make 
            the best choice for your next project.</p>
    </div>
    <div class='container is-fluid' id="hero-yarn">
        <img src="static/images/hero-image-yarn.jpg" alt="Shelves full of yarn in many colours">
    </div>
    
</div>
{% endblock %}