{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/full-navigation.html' %}
{% include 'components/messages/messages.html' %}
    <h1>Yarn Barn</h1>
    <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <i class="far fa-user-circle"></i>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"> Welcome, {{username}}</p>
            </div>
          </div>
        </div>
        <!-- Yarns -->
        <div class="card">
          <div class="card-content">
            <h3>My Yarn Reviews</h3>
            {% if yarn_reviews %}
              <table>
                  <thead>
                      <tr>
                          <th>Yarn Name</th>
                          <th>By</th>
                      </tr>
                  </thead>
                  {% for review in yarn_reviews %}
                      <tbody>
                          <tr>
                              <td>
                                  <a href="{{ url_for('yarn_review', reviews=review._id) }}">
                                      <h6 class="profile-link tooltipped" data-position="top" data-tooltip="Go to book">
                                          {{ review.yarn_name }}</h6>
                                  </a>
                              </td>
                              <td>{{ review.yarn_producer }}</td>
                              <td>{{ review.yarn_weight}}</td>
                              <td>{{ review.yarn_colour}}</td>
                              <td>{{ review.yarn_review}}</td>
                          </tr>
                      </tbody>
                      
                  {% endfor %}
              </table>
          {% else %}
              <div class="row center-align">
                  <h5 class="col s12 m12">
                      You haven't written any reviews yet, click <a href="{{ url_for('add_yarn') }}">here</a> to add
                      one!
                  </h5>
              </div>
          {% endif %}
          </div>
        </div>
      </div>
{% endblock %}