{% extends "layout/base.html" %}
{% block content %}
{% include 'components/navigation/basic-navigation.html' %}
{% include 'components/messages/messages.html' %}
<h1>Yarn Barn</h1>
<h2 class="is-centered" id="signup-text">Sign up</h3>
  <!--Registration form-->
  {% include 'components/forms/auth.html'%}
  <div class="column is-half is-offset-one-quarter">
    <p class="is-centered">
        Already have an account?
        <a href="{{ url_for('login') }}">Log In</a>
    </p>
  </div>
{% endblock %}