{% extends "layout/base.html" %}
{% block content %}
{% include 'components/navigation/basic-navigation.html' %}
{% include 'components/flash-messages.html' %}
<h1>Yarn Barn</h1>
<h2 class="is-centered" id="signup-text">Sign up</h3>
  <!--Registration form-->
  <form method="POST" action="{{ url_for('register') }}">
    <!--username field-->
    <div class="field column is-half is-offset-one-quarter">
      <label class="label" for="username">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input id="username" name="username" type="text" placeholder="username" minlength="5" maxlength="15"
          pattern="^[a-zA-Z0-9]{5,15}$" class="input is-success validate" required>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <!--password field-->
      <div class="field">
        <label class="label" for="password"> Password</label>
        <div class="control has-icons-left has-icons-right">
          <input id="password" name="password" type="password" placeholder="password" minlength="5" maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$" class="input is-danger validate" required>
          <span class="icon is-small is-left">
            <i class="fas fa-unlock-alt"></i>
          </span>
        </div>
      </div>
      <!--submit button-->
      <div class="field is-grouped is-grouped-centered">
        <input type="submit"></input>
      </div>
  </form>

  {% endblock %}