{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/full-navigation.html' %}

<div class="card">
    <div class="card-content">
      {% for yarn in yarns %}
      <!--yarn image-->
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="#" alt="Placeholder image">
          </figure>
        </div>
        <!--yarn name and subtitile-->
        <div class="media-content">
          <p class="title is-4">{{ yarn.yarn_name }}</p>
          <p class="subtitle is-6">By {{ yarn.yarn_producer }}</p>
          <p>{{ yarn.yarn_weight }}</p>
          <p>{{ yarn.yarn.colour }}</p>
        </div>
      </div>
      <!--Yarn review-->
      <div class="content">
        <p class="title is-4">Review</p>
        <p>{{ yarn.yarn.review }}</p>
        {% endfor %}
      </div>
      <!--user comments-->
      <article class="media">
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <a class="button is-primary">Submit</a>
              </div>
            </div>
          </nav>
        </div>
      </article>
      {% endblock %}
    </div>
  </div>

