{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/full-navigation.html' %}
<div class= "container is-fluid">
  <h1>Yarn Barn</h1>
  <div class="card">
    {% for yarn in yarn %}
      <div class="card-content">
        <!--yarn image-->
        <div class="media">
          <div class="media-left">
            <figure class="yarn-photo">
              <img src="static/images/balls-of-wool.jpg" alt="photo of three balls of wool with a crochet hook">
            </figure>
          </div>
          <!--yarn name and subtitile-->
          <div class="media-content">
            <p class="title is-4">Yarn Name: {{ yarn.yarn_name }}</p>
            <p class="subtitle is-6">By {{ yarn.yarn_producer }}</p>
            <p>Yarn weight: {{ yarn.yarn_weight }}</p>
            <p>Yarn colour: {{ yarn.yarn_colour }}</p>
          </div>
        </div>
        <!--Yarn review-->
        <div class="content">
          <p class="title is-4">Review</p>
          <p>{{ yarn.yarn_review }}</p>
          {% endfor %}
        </div>
    {% endblock %}
</div>


