{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/full-navigation.html' %}
<div class="container">
  <h1>Yarn Barn</h1>
  {% for yarn in yarn %}
  <div class="card">
    <div class="card-content">
      <!--yarn name and subtitile-->
      <div class="column is-mobile">
        <p class="title is-4">Yarn Name: {{ yarn.yarn_name }}</p>
        <p class="subtitle is-6">By {{ yarn.yarn_producer }}</p>
        <p>Yarn weight: {{ yarn.yarn_weight }}</p>
        <p>Yarn colour: {{ yarn.yarn_colour }}</p>
      </div>
    </div>
    <!--Yarn review-->
    <div class="column is-mobile">
      <p class="subtitle is-4">Review</p>
      <p>{{ yarn.yarn_review }}</p>
    </div>
    <!-- edit/delete buttons-->
    <div column is-mobile>
      <a href="{{ url_for('edit_yarn', yarn_id=yarn._id) }}" class="button is-small is-primary"
        id="edit-button">Edit</a>
      <a href="{{ url_for('delete_yarn', yarn_id=yarn._id) }}" class="button is-small is-primary"
        id="delete-button">Delete</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}



