<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="static/images/yarn-logo.jpg" width="50" height="50">
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{ url_for('home')}}" class="navbar-item">
          Home
        </a>
  
        <a href="#" class="navbar-item">
          Profile
        </a>
  
        <a href="#" class="navbar-item">
          Yarns
          </a>
      </div>
    
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="{{ url_for('register')}}" class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a href="{{ url_for('login')}}" class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>