<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('home')}}">
      <img src="" >
    </a>

    <a role="button" class="navbar-burger" id="burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-start">
      <a href="{{ url_for('home')}}" class="navbar-item">
        Home
      </a>

      <a href="{{ url_for('yarns')}}" class="navbar-item">
        Yarns
      </a>

      <a href="{{ url_for('add_yarn')}}" class="navbar-item">
        Add a Yarn
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="{{ url_for('logout')}}" class="button is-light">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>