<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('home')}}">
      <img src="" >
    </a>

    <a role="button" class="navbar-burger" id="burger" data-target="navbar-menu">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbar-links">
    <div class="navbar-start">
      <a href="{{ url_for('yarns')}}" class="navbar-item" aria-label="link to yarns page">
        Yarns
      </a>
      <a href="{{ url_for('add_yarn')}}" class="navbar-item" aria-label="link to add yarn page">
        Add a Yarn
      </a>
      <a href="{{ url_for('profile', username=session['user']) }}" class="navbar-item" aria-label="link to profile page">
        My Profile
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="{{ url_for('logout')}}" class="button is-light" aria-label="link to log out">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>