<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <article class="message is-primary">
                    <div class="message-header">
                      <p></p>
                      <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                      {{ message }}
                    </div>
                  </article>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>