<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Yarn Barn find the ideal yarn for your next project"/>
<!--link to bulma-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<!--link to fontawesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!---link to own css file-->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<title>Yarn Barn</title>
</head>
